body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

header {
  width: 1440px;
  height: 72px;
}

.logo {
  position: absolute;
  top: 24px;                 
  left: 156px;
  font-family: 'Raleway', sans-serif;  
  font-weight: 700;          
  font-size: 18px;           
  line-height: 21px;          
  letter-spacing: 0.03em;     
  text-transform: uppercase;  
  vertical-align: middle;     
  text-decoration: none;
  opacity: 1;
}

.logo-blue {
  color: #4D5AE5;
}

.logo-black {
  color: #2E2F42;
}

header nav .menu {
  position: absolute;
  top: 24px;
  left: 347px;
  width: 261px;
  height: 24px;
  display: flex;
  gap: 40px; 
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.menu a {
  text-decoration: none;
  color:#2E2F42 ;
  width: 48px;
  min-height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;    
}

header address {
  position: absolute; 
  top: 24px;
  left: 940px;
  display: flex;       
  flex-direction: row; 
  align-items: center; 
  gap: 24px;          
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

header address ul {
  display: flex; 
  gap: 24px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

header address li a {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.hero {
  position: relative; 
  background-color: #2E2F42;
  color: #FFFFFF;
  width: 1440px;
  height: 600px;
  padding-top: 72px;
  text-align: center;
}

.hero h1 {
  position: absolute;
  top: 260px;
  left: 472px;
  width: 496px;
  height: 120px;
  font-weight: 700;          
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;    
  text-align: center;
  color: white;
  opacity: 1;                
  margin: 0;                
}
.hero button {
  position: absolute;
  top: 428px;
  left: 636px;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px; 
  gap: 10px;
  cursor: pointer;
  opacity: 1;
}
.advantages ul {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 72px;      
  justify-content: center;      
}
.advantages li {
  width: 264px;
  height: 104px;
}
.team {
  width: 1440px;       
  height: 732px;   
  background-color: #F4F4FD;
  top: 1016px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  align-items: center;
}

.team h2 {

  width: 162px;
  height: 40px;  
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em; 
  text-align: center;
  color: #2E2F42;
  opacity: 1;
  top: 1136px;
  left: 639px;
  margin-bottom: 48px;
  white-space: nowrap;
}

.team ul {
  display: flex;              
  justify-content: flex-start; 
  gap: 32px;                  
  list-style: none;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
  
}

.team li {
  width: 264px;
  height: 380px;              
  background: #FFFFFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.team li img {
  width: 264px;
  height: 260px;
  object-fit: cover;
  margin-bottom: 16px;          
}

.team li h3 {
  font-weight: 500;
  width: 134px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em; 
  margin: 0 0 8px 0;
  text-align: center;
  white-space: nowrap;
}

.team li p {
  font-weight: 400;
  width: 128px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em; 
  text-align: center;
  margin: 0;
}
.portfolio {
    width: 1128px;
    margin: 50px auto; 
    padding: 0;
    opacity: 1;
}

.portfolio h2 {
    width: 218px;
    height: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
    margin: 0 auto 50px auto;
    opacity: 1;
    
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.portfolio li {
    width: 360px;
    height: 420px;
    margin-bottom: 20px;     
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #E7E9FC; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}
.portfolio li img {
    width: 100%; 
    height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 16px; 
    opacity: 1;
}

.portfolio li h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 700;
}

.portfolio li p {
    margin: 0;
    font-size: 16px;
}
footer{
  position: relative; 
  background-color: #2E2F42;
  color: #FFFFFF;
  width: 1440px;
  height: 312px;
  padding: 100px 250px 70px 200px;
}
.logo2{
  width: 71px;
  height: 21px; 
  top: 70px;               
  left: 156px;
  right: 15px;
  font-family: 'Raleway', sans-serif;  
  font-weight: 700;          
  font-size: 18px;           
  line-height: 21px;          
  letter-spacing: 0.03em;     
  text-transform: uppercase;  
  vertical-align: middle;     
  text-decoration: none;
  opacity: 1;
}
.logo-white {
  color: #F4F4FD;
}
footer p{
    width: 264px;
    height: 72px;
    opacity: 1;
    top:100px;
    left: 156px;
    right: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;  

}