body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5; 
}

.logo-black {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  transition: color 0.3s;
}


.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-info {
  font-style: normal;
}

.address-info ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em; 
  transition: color 0.3s;
}


.address-info a:hover,
.address-info a:focus {
  color: #404bbf;
}


/* Hero */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}

.hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em; 
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Advantages */
.advantages ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 120px auto;
  max-width: 1128px;
}

.advantages li {
  width: 264px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}
.description{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;


}
/* Team */
.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
}

.team li {
  background: #ffffff;
  border-radius: 4px;
  padding-bottom: 32px;
}

.foto {
  width: 264px;
  height: 260px;
  object-fit: cover;
  margin-bottom: 16px;
}
.description-team{
     letter-spacing: 0.02em; 
     font-size: 16px; 
}
.name-port{
    color:  #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
}

/* Portfolio */
.portfolio {
  text-align: center;
  padding: 120px 0;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  margin: 0 auto;
  max-width: 1128px;
}

.portfolio li {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}

.portfolio img {
  height: 300px;
}

.portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.portfolio p {
  font-size: 16px;
  color: #434455;
  margin: 0 16px 16px 16px;
  letter-spacing: 0.02em;
}

/* Footer */
footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-white {
  color: #f4f4fd;
}
.footer-text {
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

